<!--58.  If data is required, use at:model or injection -->


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--59.  Create a header-->
<h3>In Partial View</h3>
<!--60.  Go to Home Index Page-->
<!--63.  Footer-->
<footer>
    @@Copyright
</footer>