
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--26.  Change title-->
    <title>Employee Details</title>
    <!--27.  Add stylesheet-->
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css" />
</head>
<body>
    <!--28.  Call view bag-->
    <p>
        Employee Name is : @ViewBag.selectedemployee
    </p>
</body>
</html>
